@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme (default) */
:root {
  --background-color: #F5F5DC; /* background-light */
  --text-color: #36454F;       /* text-light */
}

/* Dark theme */
.dark {
  --background-color: #101c22; /* background-dark */
  --text-color: #FFFFFF;       /* text-dark */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* font-family: theme("fontFamily.display"); */
}
